util-vserver/doc/compatibility.dtd

<!ELEMENT compatibility (title,program*)>

<!ELEMENT program (location,clicompat?,funccompat?)>
<!ATTLIST program
	name	CDATA #REQUIRED
	status	(removed|rewritten|renamed|broken|new)	#IMPLIED>

<!ELEMENT location (#PCDATA)>

<!ELEMENT clicompat (text?)>
<!ATTLIST clicompat
	status	(yes|no|limited)		#REQUIRED>

<!ELEMENT funccompat (text?)>
<!ATTLIST funccompat
	status	(yes|no|limited)		#REQUIRED>

<!ELEMENT text ANY>
<!ELEMENT pref (#PCDATA)>

<!ELEMENT title (#PCDATA)>
